@model IEnumerable<Seda.MVC.UI.Models.AssignmentViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Difficulty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalId)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonalId)
                    </td>
                </tr>
            }
        </table>

        <p>
            <input name="command" type="submit" value="Add Task" />
        </p>
        <p>
            @Html.ValidationSummary()
            <input name="command" type="submit" value="Assign Tasks" />
        </p>
    </div>
</div>